{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{% static 'records/styles/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'records/styles/Chart.min.js' %}"></script>
{% endblock extra_css%}
{% block content %}
<div class="main">
	<div class="main-inner">
		<div class="section">
			<div class="heading flex" id="heading">
				<div class="heading-left lower">
					<h4>Последние обновления: <span id="time">[[last_time]]</span> ([[last_quarter]])</h4>
				</div>
				<div class="heading-right flex">
					<div class="heading-right-in lower">
						<h4>Pmin: <span id="#">[[selectedDrp.min]]</span>
						</h4>
					</div>
					<div class="heading-right-in lower">
						<h4>Pmax: <span id="#">[[selectedDrp.max]]</span>
						</h4>
					</div>
					<div class="heading-right-in">
						<div class="sel-dropdown">

							<select v-model="selectedDrp">
								<option v-for="item in stations_limit" :value="item">[[item.station]]</option>
							</select>

							<!-- <button onclick="myFunction()" class="sumButton dropbtn">
								<span id="dropTitle">СУММАРНО</span>
								<i class="fa fa-caret-down"></i>
							</button>
							<div id="myDropdown" class="dropdown-content">
								<a href="#" onclick="dropTitle(1)">ТЭЦ-1</a>
								<a href="#" onclick="dropTitle(2)">ТЭЦ-2</a>
								<a href="#" onclick="dropTitle(3)">ТЭС</a>
								<a href="#" onclick="dropTitle('sum')">СУММАРНО</a>
							</div> -->
						</div>
					</div>
					
				</div>
			</div>
			<div class="ctr flex" id="ctr">
				<ctr-card
				v-for="obj in last_records"
				v-bind:key="obj.station"
				v-bind:item="obj"></ctr-card>
			</div>
			<!-- Table -->
			<div class="table" id="main_table">
				<h4>Таблица мощностей за <span id="date">[[ last_date ]]</span></h4>
				<div class="table_container">
					<div class="table-inner">
						<div class="section">
							<table class="table table-border" id="table_com">
								<thead>
									<tr>
										<th class="no" scope="col">#</th>
										<th class="col" colspan="4" scope="col">ТЭЦ-1</th>
										<th class="col" colspan="4" scope="col">ТЭЦ-2</th>
										<th class="col" colspan="4" scope="col">ТЭC</th>
										<th class="col" colspan="4" scope="col">СУММАРНО</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Время</td>
										<td>1</td><td>2</td><td>3</td><td>4</td>
										<td>1</td><td>2</td><td>3</td><td>4</td>
										<td>1</td><td>2</td><td>3</td><td>4</td>
										<td>1</td><td>2</td><td>3</td><td>4</td>
									</tr>
									<tbody
									is="tbl-rw"
									v-for="obj in records"
									v-bind:key="obj.hour"
									v-bind:item="obj">
									</tbody>
					
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- Table end-->
		</div>
	</div>
	<!-- Side menu -->
	<div class="menu_bar" id="menu_bar">
		<div class="menu_inner">
			<div class="value_edit" id="side_menu">
				<h4 class="value_edit_title">Редактирование значении</h4>
				<sidemenu-limit
				v-for="obj in stations_limit"
				v-bind:key="obj.station"
				v-bind:item="obj">
				</sidemenu-limit>
			</div>
			<div class="date_edit">
				<h4 class="date_edit_title">Просмотр даты и отчет</h4>
				<div class="date_edit_inner">
					<div class="date_input">
						<span>С даты</span>
						<div class="date_input_edit flex_no_justify">
							<input type="date" id="datetimepicker1" name="">
							<a href="#">Сбросить</a>

						</div>
					</div>
					<div class="date_input">
						<span>По дате</span>
						<div class="date_input_edit flex_no_justify">
							<input type="date" id="datetimepicker1" name="">
							<a href="#">Сбросить</a>
						</div>
					</div>
					<div class="date_save">
						<button type="button" class="btn btn-primary">Перейти к таблице</button>
						<button type="button" class="btn btn-outline-primary">Скачать отчет</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Side menu end-->
</div>
{% endblock %}

{% block extra_js %}
<script type='text/javascript'>
	var last_date = {{ last_date|safe }};
	var last_time = {{ last_time|safe}};
	var last_hour = {{ last_hour|safe}};
	var last_min = {{ last_min|safe}};
	var last_quarter = {{ last_quarter|safe}};

	var stations_limit = {{ stations_limit|safe }};
	console.log(stations_limit)
	var last_records = {{last_records|safe}};
	console.log(last_records)
	var records = {{records|safe}};
	console.log(records)
</script>

<script type="text/x-template" id="tmpl-ctr-card">
	<div class="ctr_card">
		<div class="ctr_card_header">
			<h4>[[item.station]]</h4>
			<!-- <img src="{% static 'records/images/diagram.svg' %}" class="diagram"> -->
			<canvas
			ref="canvas"
			:id="item.station" ></canvas>
			<p class="ctr_card_header_digit">[[item.value]]</p>
		</div>
		<div class="ctr_card_footer">
			<p class="digit">[[item.sum]]</p>
		</div>
	</div>
</script>

<script type="text/x-template" id="tmpl-tbl-rw">
	<tbody>
		<tr>
			<td rowspan="2" class="indacenter">
				<span id="time">[[item.hour]]</span>
			</td>
			<tbl-td
			v-for="val in item.data[0].extra_data.values"
			v-bind:item="val"></tbl-td>
			<tbl-td
			v-for="val in item.data[1].extra_data.values"
			v-bind:item="val"></tbl-td>
			<tbl-td
			v-for="val in item.data[2].extra_data.values"
			v-bind:item="val"></tbl-td>
			<tbl-td
			v-for="val in item.data[0].extra_data.values"
			v-bind:item="val"></tbl-td>
		</tr>
		<tr>
			<tbl-td-avg
			v-bind:item="item.data[0].extra_data"></tbl-td-avg>
			<tbl-td-avg
			v-bind:item="item.data[1].extra_data"></tbl-td-avg>
			<tbl-td-avg
			v-bind:item="item.data[2].extra_data"></tbl-td-avg>
			<tbl-td-avg
			v-bind:item="item.data[0].extra_data"></tbl-td-avg>
	</tbody>
</script>
<script type="text/x-template" id="tmpl-tbl-td">
	<td v-bind:class="classObject">
		<span id="tes1_1">[[item.value]]</span>
	</td>
</script>
<script type="text/x-template" id="tmpl-tbl-td-avg">
	<td colspan="4" v-bind:class="classObject"> 
		<span 
		id="tes1_avg">[[item.avg]]</span>
	</td>
</script>
<script type="text/x-template" id="tmpl-sidemenu-limit">
<div class="value_tes">
	<h4>[[item.station]]</h4>
	<div class="value_inputs" ref="limitsdiv">
		<div class="value_input_container flex">
			<span>Pmin</span>
			<input type="text" name="pmin" 
			:value="[[item.min]]" 
			ref="sdmin" 
			:readonly="isReadonly"
			@keypress="isNumber($event)">
		</div>
		<div class="value_input_container flex">
			<span>Pmax</span>
			<input type="text" name="pmax" 
			:value="[[item.max]]" 
			ref="sdmax" 
			:readonly="isReadonly"
			@keypress="isNumber($event)">
		</div>
		<a href="" 
		v-on:click="changeLimits"
		v-show='showChangeBtn'>Изменить</a>
		<div 
		v-show='showSaveBtns'
		style="display: flex;">
			<button type="button" class="btn btn-primary" >Сохранить</button>
			<button type="button" class="btn btn-outline-primary"
			v-on:click="resetChangeBtns">Отмена</button>
		</div>
	</div>
</div>
</script>
<script>

    var heading_app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#heading',
      data: {
		last_date: last_date,
		last_time: last_time,
		last_hour: last_hour,
		last_min: last_min,
		last_quarter: last_quarter,
		stations_limit: stations_limit,
		selectedDrp: stations_limit[0]
	  },
	});

	function getChartData(p1, p2, color) {
		const chartData = {
		type: 'doughnut',
		data: {
			datasets: [
				{
					data: [p1, p2],
					backgroundColor: [
						color, // status color
						'#DFDFDF' // gray
					],
					borderColor: 'black',
					borderWidth: 1
				}]
		},
		options: {
			rotation: 1*Math.PI,
			cutoutPercentage: 50,
			circumference:1*Math.PI,
			legend: {
				display: false
			},
			animation: {
				animateRotate: false,
			},
		}
		}
		return chartData
	}

	Vue.component('ctr-card', {
		delimiters: ['[[', ']]'],
		props: ['item',],
  		// props: {
		// 	item: {
		// 		type: Number,
		// 		required: true
		// 	}
		// },
		template: '#tmpl-ctr-card',
		methods: {
			createChart(chartData) {
			const ctx = this.$refs["canvas"];
			const myChart = new Chart(ctx, {
			type: chartData.type,
			data: chartData.data,
			options: chartData.options,
			});
		}
		},
		data() {
			var statusColor = '#DFDFDF'
			if (this.item.value<=this.item.max) {
				var p1 = this.item.value
				var p2 = this.item.max - this.item.value
			} else if (this.item.value>this.item.max) {
				var p1 = this.item.value
				var p2 = 0
			}
			if (this.item.value>=this.item.min && this.item.value<=this.item.max) {
				var statusColor = '#27AE60' //green
			} else if (this.item.value<this.item.min) {
				var statusColor = '#F2C94C' //orange
			} else if (this.item.value>this.item.max) {
				var statusColor = '#EB5757' //red
			}
			return {
				chartData: getChartData(p1, p2, statusColor),
			}
		},
		mounted() {
			console.log("mounted")
			this.createChart(this.chartData);
		},
		computed: {
			classObject: function () {
				return {
					'orange-bg': false,
					'red-bg': true,
				}
			}
		},
	});

	var ctr_app = new Vue({
		delimiters: ['[[', ']]'],
      	el: '#ctr',
      	data: {
			last_records: last_records,
			stations_limit: stations_limit
		},
	});

	Vue.component('tbl-rw', {
		delimiters: ['[[', ']]'],
  		props: ['item'],
		template: '#tmpl-tbl-rw',
	});

	Vue.component('tbl-td', {
		delimiters: ['[[', ']]'],
  		props: ['item'],
		template: '#tmpl-tbl-td',
		computed: {
			classObject: function () {
				return {
					'orange-bg': this.item.status == -1,
					'red-bg': this.item.status == 1
				}
			}
		}
	});

	Vue.component('tbl-td-avg', {
		delimiters: ['[[', ']]'],
  		props: ['item'],
		template: '#tmpl-tbl-td-avg',
		computed: {
			classObject: function () {
				return {
					'orange-bg': this.item.avg_status == -1,
					'red-bg': this.item.avg_status == 1
				}
			}
		}
	});
	
	var table_app = new Vue({
		delimiters: ['[[', ']]'],
      	el: '#main_table',
      	data: {
			last_date: last_date,
			records: records,
		},
	});

	Vue.component('sidemenu-limit', {
		delimiters: ['[[', ']]'],
  		props: ['item',],
		template: '#tmpl-sidemenu-limit',
		methods: {
			isNumber: function(evt) {
				evt = (evt) ? evt : window.event;
				var charCode = (evt.which) ? evt.which : evt.keyCode;
				if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
					evt.preventDefault();;
				} else {
					return true;
				}
			},
			changeLimits: function (event) {
				event.preventDefault();
				// var sdmin = this.$refs["sdmax"];
				// var sdmax = this.$refs["sdmax"];
				// sdmin.removeAttribute("readonly");
				// sdmax.removeAttribute("readonly");

				this.isReadonly = !this.isReadonly
				this.showSaveBtns = !this.showSaveBtns
				this.showChangeBtn = !this.showChangeBtn
				
			},
			resetChangeBtns: function (event) {
				event.preventDefault();
				this.isReadonly = !this.isReadonly
				this.showSaveBtns = !this.showSaveBtns
				this.showChangeBtn = !this.showChangeBtn
			}
		},
		data: function () {
			return {
				isReadonly: true,
				showChangeBtn: true,
				showSaveBtns: false
			}
		}
	});

	var side_menu_app = new Vue({
		delimiters: ['[[', ']]'],
      	el: '#side_menu',
		data: {
			stations_limit: stations_limit,
		}
	});
  </script>
{% endblock extra_js%}